fastapi~=0.115.11
uvicorn~=0.34.0
fastapi-chameleon
starlette<0.47.0
aiofiles
requests~=2.32.3
python-multipart~=0.0.20
python3-discogs-client==2.8
gunicorn~=23.0.0
SQLAlchemy~=2.0.39
paho-mqtt~=2.1.0
passlib~=1.7.4
pillow~=11.1.0
h11~=0.14.0
anyio<5.0.0
sniffio~=1.3.1
asgiref~=3.8.1
certifi~=2025.1.31
pydantic~=2.10.6
pip==25.0.1
six~=1.17.0
click~=8.1.8
python-dateutil~=2.9.0
greenlet~=3.1.1
oauthlib~=3.2.2
idna~=3.10
urllib3~=2.3.0
setuptools~=76.0.0
musicbrainzngs~=0.7.1
pendulum~=3.0.0
