fastapi~=0.70.1
uvicorn~=0.17.6
fastapi-chameleon
starlette~=0.16.0
aiofiles
requests~=2.27.1
python-multipart~=0.0.5
python3-discogs-client
gunicorn~=20.1.0
SQLAlchemy~=1.4.32
paho-mqtt~=1.6.1
passlib~=1.7.4
pillow~=9.0.1
h11~=0.13.0
pip~=22.1.2
anyio~=3.5.0
sniffio~=1.2.0
asgiref~=3.5.0
certifi~=2021.10.8
pydantic~=1.9.0
six~=1.16.0
click~=8.0.4
python-dateutil~=2.8.2
greenlet~=1.1.2
oauthlib~=3.2.0
idna~=3.3
urllib3~=1.26.8
Chameleon~=3.9.1
setuptools~=60.6.0
musicbrainzngs~=0.7.1
pendulum~=2.1.2